// Breakpoints
$breakpoints: (
  mobile: 375px,
  pc: 1440px,
);

// Mixin
@mixin mq($device) {
  @media (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}

// Colors
$White: hsl(0, 0%, 100%);
$Slate300: hsl(212, 45%, 89%);
$Slate500: hsl(216, 15%, 48%);
$Slate900: hsl(218, 44%, 22%);

// Fonts
$font-family-base: "Outfit", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size-base: 15px;

body {
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  background: $Slate300;
  font-size: $font-size-base;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  min-height: 499px;
  height: auto;
  max-width: 320px;
  width: 100%;
  background-color: $White;
  border-radius: 20px;
  padding-top: 16px;
  padding-bottom: 40px;
  padding-right: 16px;
  padding-left: 16px;
  box-shadow: 0 10px 30px -20px rgb(17 17 19);
}

.card__qr {
  max-width: 288px;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 10px;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    object-fit: cover;
  }
}

.card__text {
  margin-top: 24px;
  text-align: center;
}

.card__text-title {
  font-weight: $font-weight-bold;
  color: $Slate900;
  font-size: 22px;
  line-height: 1.18;
}

.card__text-content {
  margin-top: 16px;
  color: $Slate500;
  line-height: 1.4;
  letter-spacing: 0.014em;
}
